<h1>Edit {{name}}</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="recipeForm" >
  <div class="form-group d-inline d-block">
      <img 
      [src]="imageUrl.value" 
      class="img-responsive rounded float-right mt-2" 
      height="200px"
      width="250px"
      >
      <input 
      type="text" 
      name="name"  
      class="form-control mb-1 col-7" 
      placeholder="Name Here"
      formControlName="name">
  </div>
  <div class="form-group">
      <textarea 
      name="description" 
      rows="6" 
      placeholder="Description here" 
      class="form-control col-7"
      formControlName="description"></textarea>
  </div>

  <div class="form-group">
      <input 
      type="text" 
      name=""  
      class="form-control col-7" 
      placeholder="Image URL"
      formControlName="imagepath"
      #imageUrl
      >
  </div>

  <div class="row form-group col-7 " formArrayName="ingredients">
    <div class="row form-group " *ngFor="let ingredientCtrl of recipeForm.get['ingredients']; let i=index"
    [formGroupName]="i">
            <div class="col-7">
                        <input 
                        type="text" 
                        name="IngName" 
                        class="form-control" 
                        placeholder="Ingredient Name here"
                        formControlName="name">
            </div>
            <div class="col-3">
                        <input 
                        type="number" 
                        name="IngAmount" 
                        placeholder="Amount" 
                        class="form-control"
                        formControlName="amount">
            </div> 
            <div class="col-1">
                    <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
        </div> 
    </div><button 
    type="button" 
    class="btn btn-success float-right" 
    (click)="onAddIngredeint()"
    >+</button>
  </div>

  <div class="form-group form-inline col-7">
        <div class="form-group">
                <button 
                type="submit" 
                class="btn btn-primary ml-5"
                [disabled]="!recipeForm.valid"
                >Save</button>
                <button 
                type="button" 
                class="btn btn-danger mx-2"
                (click)="onCancel()"
                >Cancel</button>
        </div>
  </div>
    
</form>