<section id="contact" class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <h3>Get in Touch</h3>
        <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, doloribus.</p>
        <form>
          <div class="form-group">
            <div class="input-group input-group-lg">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-user"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Name here">
            </div>
          </div>
          <div class="form-group">
              <div class="input-group input-group-lg">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Email here">
              </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-lg">
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-pencil"></i>
                    </span>
                  </div>
                  <textarea class="form-control" placeholder="Message" rows="5"></textarea>
                </div>
              </div>
              <input type="submit" class="btn btn-primary btn-block btn-lg">
        </form>
      </div>
      <div class="col-lg-3 align-self-center">
        <img src="" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<footer id="main-footer" class="bg-primary text-white">
  <div class="container-fluid">
    <div class="row text center">
      <div class="col-md-6 ml-auto">
        <p class="lead">Copyright &copy; 2018 Virtual Productions</p>
      </div>
    </div>
  </div>
</footer>