<section id="about" class="mb-5 text-center bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="info-header mb-5">
          <h1 class="text-primary pb-3">
            Why me?
          </h1>
          <p class="lead ">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, est.
          </p>
        </div>
        <!--Accordion-->
        <div id="accordion" role="tablist">
          <div class="card">
            <div class="card-header" id="heading 1">
              <h5 class="mb-0">
                <div href="#collapse1" data-toggle="collapse" data-parent="#accordion">
                  <i class="fa fa-arrow-circle-down">
                    Start Cooking
                  </i>
                </div>
              </h5>
            </div>
            <div id="collapse1" class="collapse show">
              <div class="card-body">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non eum tempora ipsam ipsa debitis commodi voluptatem illo maiores nemo, quidem nostrum praesentium. Itaque perspiciatis blanditiis consequatur temporibus voluptatem eum iste!
              </div>
            </div>
          </div>
          <div class="card">
              <div class="card-header" id="heading2">
                <h5 class="mb-0">
                  <div href="#collapse2" data-toggle="collapse" data-parent="#accordion">
                    <i class="fa fa-arrow-circle-down">
                      Start Cooking
                    </i>
                  </div>
                </h5>
              </div>
              <div id="collapse2" class="collapse ">
                <div class="card-body">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non eum tempora ipsam ipsa debitis commodi voluptatem illo maiores nemo, quidem nostrum praesentium. Itaque perspiciatis blanditiis consequatur temporibus voluptatem eum iste!
                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading3">
                  <h5 class="mb-0">
                    <div href="#collapse3" data-toggle="collapse" data-parent="#accordion">
                      <i class="fa fa-arrow-circle-down">
                        Start Cooking
                      </i>
                    </div>
                  </h5>
                </div>
                <div id="collapse3" class="collapse">
                  <div class="card-body">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non eum tempora ipsam ipsa debitis commodi voluptatem illo maiores nemo, quidem nostrum praesentium. Itaque perspiciatis blanditiis consequatur temporibus voluptatem eum iste!
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</section>